[Global]
audience = dataserver.vagrant.test

[Issuer OSG-Connect]
issuer = https://tokenissuer.vagrant.test:8443/scitoken-server
base_path = /

[Issuer 2]
issuer = https://demo.scitokens.org
base_path = /
