deb     {{apt_custom_sources}}  stretch  main contrib non-free
deb-src {{apt_custom_sources}}  stretch  main contrib non-free
deb     {{apt_custom_sources}}-security  stretch/updates  main contrib non-free
deb-src {{apt_custom_sources}}-security  stretch/updates  main contrib non-free
